html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Home page */
.landing{
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/out1.webp');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.landing1{
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/mesw1.webp');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.landing2{
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/mesw.webp');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.landing-text{
  max-width: 600px;
}
.contact-btn{
  outline: none;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
}
.contact-btn:hover{
  outline: none;
  background: #fff;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
}
.contact-btnB{
  outline: none;
  background: transparent;
  border: 2px solid rgb(27, 23, 23);
  border-radius: 20px;
  color: rgb(27, 23, 23);
}
.contact-btnB:hover{
  outline: none;
  background: rgba(27, 23, 23, 0.1);
  border: 2px solid rgb(27, 23, 23);
  border-radius: 20px;
  color: rgb(27, 23, 23);
}

/* Facilities */
.fac-box{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.fac-head{
  border-bottom: 4px solid black;
}
.fac-img{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.iconn{
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Tools */
.boda1{
  border: 2px solid black;
}
.boda2{
  border: 2px solid rgb(236, 13, 13);
}
.boda3{
  border: 2px solid rgb(57, 199, 76);
}
.boda4{
  border: 2px solid rgb(236, 240, 18);
}
.boda5{
  border: 2px solid rgb(86, 16, 214);
}
.boda6{
  border: 2px solid rgb(247, 17, 216);
}
.boda7{
  border: 2px solid rgb(9, 240, 240);
}
.icon-h{
  position: relative;
}


/* Spinner */
.loader {
  border: 10px solid rgb(252, 183, 211); /* Light grey */
  border-top: 10px solid black; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin-box{
  background-color: #fff;
}



/* UNIVERSALS */
.myBtn{
  display: block;
  width: 100%;
}
.color1-text{
  color: var(--bag);
}
.color1-bg{
  background: var(--bag);
}
.rel{
  position: relative;
}
.abs{
  position: absolute;
}
.jab{
  justify-content: space-between;
  align-items: center;
}
.jac{
  justify-content: center;
  align-items: center;
}
.jaa{
  justify-content: space-around;
  align-items: center;
}
.jae{
  justify-content: space-evenly;
  align-items: center;
}
.column{
  flex-direction: column;
}

.br-10{
      border-radius: 10px;
}
.br-20{
      border-radius: 20px;
}
.brb-20{
  border-radius: 0 0 20px 20px;
}

/* small */
@media (max-width : 760px){
  .img-box{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .brb-20{
    background-color: rgb(27, 23, 23);
    border-radius: 0 0 20px 20px;
  }
  .brb-20 p{
    color: #fff;
  }
  .brb-20 h5{
    color: #fff;
  }

}

/* big */

@media (min-width : 760px){
  .img-box{
    justify-content: space-evenly;
    align-items: center;
  }
  .brb-20{
    background-color: #fff;
    border-radius: 0 0 20px 20px;
  }
  .brb-20 p{
    color: rgb(27, 23, 23);
  }
  .brb-20 h5{
    /* color: rgb(27, 23, 23); */
    color: rgb(27, 23, 23);
  }
}
